body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px
}

a {
    text-decoration: none;
    color: #E5d7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 150px;

}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #E5d7eb;
}

.sign-up {
    background-color: #3882f6;
    padding: 6px 24px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    margin: 0;
}
.main-pic {
    width: 400px;
    height: 200px;
}

.text {
    text-align: center;
    font-size: 18px;
    color: #3a3b3e;
}

img {
    width: 300px;
    border-radius: 20px;
}


.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 60px;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 60px;
}

.container-info {
    display: flex;
    gap: 16px;
}

.container-three {
    background-color: #e5e7eb;
    padding: 100px 50px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
}

.author {
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    margin-right: 600px;
}

.container-four {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    color: white;
    padding: 26px 76px;
    gap: 40px;
    margin: 40px auto;
    border-radius: 10px;

}

.title-two {
    font-weight: 900;
}

.signup-two {
    border: 2px solid white;
    padding: 6px 28px;
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #1f2937;
}

.copyright {
    font-size: 18px;
    color: #e5e7eb;
}