body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px
}

a {
    text-decoration: none;
    color: #E5d7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 20px;
    padding: 3px 15%;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 100px 15%;
    

}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
    color: #E5d7eb;
}

.welcome {
    width: 500px;
}

.sign-up {
    background-color: #3882f6;
    padding: 6px 24px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    margin: 0;
    border: 0;
}
.main-pic {
    width: 600px;
    height: 300px;
}

.text {
    text-align: center;
    font-size: 18px;
    color: #3a3b3e;
}

img {
    width: 300px;
    border-radius: 20px;
}


.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 60px;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 60px;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding: 3px 15%;
    
}

.info {
    text-align: center;
    width: 300px;
}

.container-three {
    background-color: #e5e7eb;
    padding: 100px 50px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    margin: 0 300px;
}

.author {
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-left: 600px;
    margin-right: auto;
}

.container-four {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    color: white;
    padding: 30px 15%;
    gap: 40px;
    margin: 40px auto;
    border-radius: 10px;

}
.container-four-a {
    font-size: 22px;
 

}

.title-two {
    font-weight: 900;
}

.signup-two {
    border: 2px solid white;
    padding: 6px 28px;
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #1f2937;
}

.copyright {
    font-size: 18px;
    color: #e5e7eb;
}